<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Autobiography</span>
  <span class="example-spacer"></span>
    <a mat-flat-button color="warn" href="www.google.com" target="_blank">Rate Me!</a>
  <span class="spacer-buttons"></span>
  <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>


<app-landing-page></app-landing-page>